<h3><%= @team.team_name %>:</h3>
<h6>Select a champion to see their stats:</h6>

<div style="position: absolute; left: 3%; top: 20%;">
    <table>   
        <tr>     
            <th><a href= "/champions/<%= @team.champions[0].id %>"><%= @team.champions[0].Name %></a></th>     
            <th><a href= "/champions/<%= @team.champions[1].id %>"><%= @team.champions[1].Name %></a></th>     
            <th><a href= "/champions/<%= @team.champions[2].id %>"><%= @team.champions[2].Name %></a></th>     
            <th><a href= "/champions/<%= @team.champions[3].id %>"><%= @team.champions[3].Name %></a></th>     
            <th><a href= "/champions/<%= @team.champions[4].id %>"><%= @team.champions[4].Name %></a></th>
        </tr>
        <tr>
            <td><img width="315" height="600px" src="/images/champ_img/<%= @team.champions[0].id %>.jpg"></td>
            <td><img width="315" height="600px" src="/images/champ_img/<%= @team.champions[1].id %>.jpg"></td>
            <td><img width="315" height="600px" src="/images/champ_img/<%= @team.champions[2].id %>.jpg"></td>
            <td><img width="315" height="600px" src="/images/champ_img/<%= @team.champions[3].id %>.jpg"></td>
            <td><img width="315" height="600px" src="/images/champ_img/<%= @team.champions[4].id %>.jpg"></td>
        </tr>     
    </table>
</div>



<div style="position: absolute; left: 65%; top: 13%;">
    <form action="/teams/<%= @team.id %>" method="post">
        <a href="/teams/<%= @team.id %>/edit" class="btn" style="background-color: rgb(158,144,109); color: black;">Edit Team</a>
            <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Remove Team" class="btn" style="background-color: rgb(158,144,109); color: black;">
                    <a href="/duels/<%= @team.id %>/new" class="btn" style="background-color: rgb(158,144,109); color: black;">Duel Team</a>
    
    </form>
</div>

<style>
body {
background-color: rgb(51, 51, 51);
color: rgb(158,144,109);
}
</style>