<h3><%= @team.team_name %>:</h3>
<h6>Select a champion to see their stats:</h6>

<div style="position: absolute; left: 3%; top: 20%;">
    <table>   
        <tr>     
    <%@team.champions.each do |champion|%>
            <th><a href= "/champions/<%= champion.id %>"><%= champion.Name %></a></th>     
    <%end%>
        </tr>
        <tr>
    <%@team.champions.each do |champion|%>
            <td><img width="315" height="600px" src="/images/champ_img/<%= champion.id %>.jpg"></td>
<%end%>

        </tr>     
    </table>
</div>



<div style="position: absolute; left: 65%; top: 13%;">
    <%if authorized?%>
    <form action="/teams/<%= @team.id %>" method="post">
        <a href="/teams/<%= @team.id %>/edit" class="btn" style="background-color: rgb(158,144,109); color: black;">Edit Team</a>
            <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Remove Team" class="btn" style="background-color: rgb(158,144,109); color: black;">
                    <a href="/duels/<%= @team.id %>/new" class="btn" style="background-color: rgb(158,144,109); color: black;">Duel Team</a>
    </form>
</div>
                    <%else%>
                    <a href="/duels/<%= @team.id %>/new" class="btn" style="background-color: rgb(158,144,109); color: black;">Duel Team</a>
</div>
<%end%>
    

<style>
body {
background-color: rgb(51, 51, 51);
color: rgb(158,144,109);
}
</style>