<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style="position: absolute; left: 3%; top: 3%;">
<% if @enemy_values.sum > @allied_values.sum %>
    <h2>"Your Nexus has been destroyed!"</h2>
    <% winning_team = @enemy_team%>
    <div style="position: absolute; left: 3%; top: 55%;">
    <h3>Winning team: <%= @enemy_team.team_name %></h3>
    </div>
    <% else %>
    <% winning_team = @allied_team %>
    <h2>"Your have destroyed the enemy Nexus!"</h2>
    <div style="position: absolute; left: 3%; top: 3%;">
    <h3>Winning team: <%= @allied_team.team_name %></h3>
    </div>
<% end %>
</div>

<p>
    <% winning_team.champions.collect do |champ| %>
    
</p>
    <% end %>
<div style="position: absolute; left: 3%; top: 20%;">
<table>   
<tr>     
<th><a href= "/champions/<%= winning_team.champions[0].id %>"><%= winning_team.champions[0].Name %></a></th>     
<th><a href= "/champions/<%= winning_team.champions[1].id %>"><%= winning_team.champions[1].Name %></a></th>     
<th><a href= "/champions/<%= winning_team.champions[2].id %>"><%= winning_team.champions[2].Name %></a></th>     
<th><a href= "/champions/<%= winning_team.champions[3].id %>"><%= winning_team.champions[3].Name %></a></th>     
<th><a href= "/champions/<%= winning_team.champions[4].id %>"><%= winning_team.champions[4].Name %></a></th>
</tr>
<tr>
<td><img height="600px" src="/images/champ_img/<%= winning_team.champions[0].id %>.jpg"></td>
<td><img height="600px" src="/images/champ_img/<%= winning_team.champions[1].id %>.jpg"></td>
<td><img height="600px" src="/images/champ_img/<%= winning_team.champions[2].id %>.jpg"></td>
<td><img height="600px" src="/images/champ_img/<%= winning_team.champions[3].id %>.jpg"></td>
<td><img height="600px" src="/images/champ_img/<%= winning_team.champions[4].id %>.jpg"></td>
</tr>     
</table>
</div>
</body>
</html>